# Model weights
*.pt
*.pth
*.ckpt
*.bin
*.safetensors

# Datasets
data/
dataset/
datasets/

# Outputs
checkpoints/
runs/
logs/
outputs/

# Python
.venv/
venv/
__pycache__/
*.pyc

# ML / binaries
*.pkl
*.pt
*.pth
*.bin